@import "tailwindcss";
.bgimag
{
    background-image: url("./fhoto/bilol.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgimag1
{
    background-image: url("./fhoto/Rectangle\ 187\ \(1\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}